@import "../style/base.scss";

.section {
	width: 25%;
	height: 100%;
	padding: 8px;
	border-radius: 4px;
	overflow: hidden;
	@include border(1, 1, 1, 1);

	.name {
		font-size: 16px;
		margin: 0 auto;
		width: fit-content;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 6px;
			height: 6px;
			transform: translate(-200%, -50%);
			border-radius: 50%;
		}
	}

	.list {
		height: 100%;
		overflow-y: auto;
		padding-bottom: 80px;
	}

	.add {
		width: 100%;
		background-color: white;
		border-radius: 8px;
		margin: 16px 0;
		padding: 8px;
		@include border(1, 1, 1, 1);
		transition: all 0.25s linear;
		cursor: pointer;

		&:hover {
			background-color: $yellow;
			color: $green;
		}
	}
}
