@import "~/assets/style/base.scss";

.login {
	width: 400px;
	padding: 32px;
	border-radius: 4px;
	background-color: $background;
	@include border(1, 1, 1, 1);

	&__title {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__subtitle {
		font-size: 16px;
		margin-bottom: 24px;
	}

	&__form {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: left;
		margin: 30px 0;
	}

	&__holder {
		width: 100%;
		margin: 12px 0;
		border-radius: 4px;
		display: flex;
		align-items: center;
		padding: 6px 12px;
		@include border(1, 1, 1, 1);
		transition: all 0.25s linear;

		&:has(.login__input):hover {
			border-color: $green;
			color: $green;
		}
	}

	&__input {
		width: 100%;
		outline: none;
		border: none;
		padding: 6px 0px 6px 12px;
		background-color: transparent;
	}

	&__error {
		color: red;
		margin-right: auto;
		margin-top: 12px;
		font-weight: 600;
		font-size: 16px;

		&--hidden {
			display: none;
		}
	}

	&__btn {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		color: $whiteGreen;
		background-color: $green;
		padding: 12px 24px;
		margin-top: 16px;
		border-radius: 4px;
		transition: all 0.25s linear;
		@include border(1, 1, 1, 1);
		cursor: pointer;

		&:hover {
			background-color: $yellow;
			color: $green;
		}
	}

	&__forgot-password {
		margin-bottom: 12px;
		font-size: 14px;
		color: $green;
		font-weight: 600;
		cursor: pointer;
		transition: all 0.25s linear;

		&:hover {
			color: $lightGreen;
		}
	}

	&__sign-up {
		font-size: 14px;

		&-link {
			color: $green;
			font-weight: 600;
			cursor: pointer;
			transition: all 0.25s linear;

			&:hover {
				color: $lightGreen;
			}
		}
	}
}
